*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
    color: black;
    font-family: Arial;
}
body{
    background: linear-gradient(rgb(16, 16, 16, 0,5), rgb(25,25,25,0.5)), url(link);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px; 
}
header{
    width: 100%;
    height: 7vw;
    background-color: yellow;

}
.menu{
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4;
    cursor: pointer;
}
.menu .lista{
    display: flex;
    list-style: none;
    gap: 10px;
}